# Default ignored files
/../../../../../../ASUS~1.PIE/AppData/Local/Temp/BrowserProject.py7430291679208566580/.idea/shelf/
/../../../../../../ASUS~1.PIE/AppData/Local/Temp/BrowserProject.py7430291679208566580/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../ASUS~1.PIE/AppData/Local/Temp/BrowserProject.py7430291679208566580/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../ASUS~1.PIE/AppData/Local/Temp/BrowserProject.py7430291679208566580/.idea/dataSources/
/../../../../../../ASUS~1.PIE/AppData/Local/Temp/BrowserProject.py7430291679208566580/.idea/dataSources.local.xml
